<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang=en>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
<link rel="stylesheet" href="/css/style.css" />
<style>
   h1 { width=100%; border-bottom: 1px solid #AAAAAA; padding-bottom:3px; margin-bottom:10px; font-size:26px; }
   a { text-decoration: none;}
   h3 { padding-left: 40px; font-size: 18px;}
   h2 { font-size: 22px;}
   h2, h3 { font-family: sans-serif }   
</style>
<title>Learn You An Agda - TOC</title>
</head>
<body>
<div class=container>
<div class='titleimage'>Learn you an Agda</div>
<div class='header'>
$header
</div>
<div id="content">
<div class='title'>$title</div>
$body
<div class='footer'>$footer</div>
</div>
</div>
</body>
</html>
